<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title id="tit">创建钱包密码</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">


</head>
<body>
    <div class="login">
        <div class="logo">
            <img src="/images/logo.jpg">
        </div>

        <div class="frms">

                
                <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">
                            <span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;新密码(8个字符)
                        </span>
                        <!-- 隐藏表单-钱包地址 -->
                        <input type="hidden" id="address" value="{{address}}"> 
                        <input type="password" id="pass1" class="form-control" placeholder="请输入密码" aria-describedby="sizing-addon2">
                </div>


                <div class="input-group mt" id="cofirmPassword">
                        <span class="input-group-addon" id="sizing-addon2">
                            <span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;&nbsp;再次确认新密码
                        </span>
                        <input id="pass2" type="password" class="form-control" placeholder="请确认密码" aria-describedby="sizing-addon2">
                </div>

      
              


            
            <div class="btns mt text-center">
                    <button class="btn btn-primary btn-lg" id="btnCreatePassword">创建钱包密码</button>
                    <button class="btn btn-info btn-lg" id="btnUnlock">解锁钱包</button>
            </div>

            <div class="mt text-center text-info">

                温馨提示:该页面使用谷歌浏览器(chrome)视觉效果最佳
                
            </div>

        </div>


    </div>
</body>

<script src="https://cdn.bootcdn.net/ajax/libs/blueimp-md5/2.18.0/js/md5.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/layer/2.3/layer.js"></script>



<script>
$(function(){


    //页面加载的时候判断当前是否已经创建过钱包
    let walletAddress = window.localStorage.getItem("account") 
    if(walletAddress){
        $("#tit").html("欢迎回来")
        $("#btnCreatePassword").hide() //把创建按钮显示
        $("#btnUnlock").show() //把解锁按钮显示
        $("#cofirmPassword").hide()
    }else{
        $("#btnUnlock").hide()
    }

    //登录钱包
    $("#btnUnlock").on("click",()=>{
        //第1步：
        let inputPass1 = $("#pass1").val() 
        //去除密码空格
        inputPass1 = inputPass1.replaceAll(" ","")
        //判断密码长度
        if(inputPass1.length<8) {
            layer.alert("",{title:"温馨提示",content:"密码必须是8个字符的长度!"})
            return false  
        }
        //第2步：加密密码的提交
        const password = md5(inputPass1) 
        //第3步:提交ajax
        $.ajax({
            url:"/account/login", 
            data:{address:walletAddress,pass:password},
            type:"POST",
            dataType:"json",
            success:(result)=>{
                if(result.error===0){
                    window.location = "/account/index"
                }else{
                    layer.alert("",{title:"提示",content:result.message})
                }
            }
        })        

    })

    //创建密码
    $("#btnCreatePassword").on('click',()=>{
        //获取密码的表单
        let inputPass1 = $("#pass1").val() 
        let inputPass2 = $("#pass2").val()
        //去除密码空格
        inputPass1 = inputPass1.replaceAll(" ","")
        //判断密码长度
        if(inputPass1.length<8) {
            layer.alert("",{title:"温馨提示",content:"密码必须是8个字符的长度!"})
            return false  
        }
        //判断两次密码的输入是否一致
        if(inputPass1!==inputPass2) {
            layer.alert("",{title:"温馨提示",content:"两次密码的输入必须一致!"})
            return false            
        }

        //首先要把地址写入localstorage
        const inputAddress = $("#address").val() 
        window.localStorage.setItem("account",inputAddress) 

        //第二步：加密密码的提交
        const password = md5(inputPass1) 
        //第三步:获取地址信息(隐藏表单)
        const address = inputAddress
        //第四步:提交ajax
        $.ajax({
            url:"/wallet/createAccount", 
            data:{address,password},
            type:"POST",
            dataType:"json",
            success:(result)=>{
                if(result.error===0){
                    //跳转到助记词页面
                    window.location = "/wallet/words" //助记词页面为了创建私钥
                    console.log("创建钱包地址成功，录入数据库")
                }else{
                    layer.alert("",{title:"错误提示",content:"网络原因或者信息填写错误,无法创建该钱包"})
                }
            }
        })

        return true 


    })

})

</script>

</html>